input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.custom-switch-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 15px;
	background: rgb(216, 219, 219);
	display: block;
	border-radius: 100px;
	position: relative;
}

label.custom-switch-label:after {
	content: '';
	position: absolute;
	top: -2.5px;
	left: 2.5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

/* input:checked + label {
	background: #121B54;
} */

input:checked + label.custom-switch-label:after {
	left: calc(100% - 2.5px);
    transform: translateX(-100%);
    background: #121B54;
}

label.custom-switch-label:active:after {
	width: 40px;
}

